p.name-introduction {
  font-size: 30px;
  color: rgb(83, 79, 79);
}

.img-right {
  position: absolute;
  top: 100px;
  right: 10px;
  float: right;
  border: none;
  background: none;
}

.ul-left {
  position: absolute;
  top: 100px;
  left: 20px;
  float: left;
}

.introduction {
  font-size: 10px;
}

.li-in-td {
  font-size: 20px;
}

html.dimbg .slide-background {
  opacity: 0.4 !important;
}

html.strong .slide-background {
  opacity: 0.6 !important;
}

html.profile .slide-background {
  opacity: 0.3 !important;
}

html.whatiskaggle .slide-background {
  opacity: 0.3 !important;
}

.overlay {
  z-index: 2;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.75);
}
